html,
body {
  background-color: #f4f5f6;
  min-width: 460px;
}

.container {
  max-width: 1310px;
}

.mobile-nav {
  background-color: #f72210;
  z-index: 5;
}

.subscribe {
  background-color: #ffe400;
  color: black;
}

a {
  color: white;
}

.desktop-nav {
  background-color: #f72210;
  z-index: 10;
  max-width: 1310px;
}

.slide {
  background-color: #f4f5f6;
  z-index: 7;
  height: 104px;
}

.weather {
  color: white;
}

.weather:hover {
  color: white;
}

.date {
  color: #f4f5f6;
}

.nav-link {
  color: black;
}

.form-search {
  width: 100px;
}

a:hover {
  color: red;
}

.trending-nav a {
  color: grey;
}

.trending-nav a:hover {
  color: red;
}

h6 {
  color: grey;
}

.pic-tag {
  bottom: 0;
  opacity: 0.8;
  color: #f72210;
}

.mcconnell2 {
  width: 95px;
  height: 95px;
}

.vs {
  width: 36px;
  height: 36px;
  left: 47%;
  top: 52%;
}

.debate1 {
  width: 65px;
  height: 65px;
}

.email-logo {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) #f72210;
  background-color: #f72210;
  height: 29px;
  width: 29px;
  background-repeat: no-repeat;
}

.email-sign {
  background-color: #f4f5f6;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .last-cards {
    width: 50%;
  }
}

.footer-logo {
  width: 235px;
  height: auto;
}

.footer-subscribe {
  background-color: #f4F5f6;
}

.indepth {
  left: 25%;
  top: 70%;
}

h5 {
  color: #f72210;
}
